body[b-ydt8i9l4ot] {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}

.game-container[b-ydt8i9l4ot] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board[b-ydt8i9l4ot] {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

.tile[b-ydt8i9l4ot] {
    width: 100%;
    height: 100%;
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #776e65;
    border-radius: 5px;
}

    .tile[data-value="2"][b-ydt8i9l4ot] {
        background-color: #eee4da;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="4"][b-ydt8i9l4ot] {
        background-color: #ede0c8;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="8"][b-ydt8i9l4ot] {
        background-color: #f2b179;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="16"][b-ydt8i9l4ot] {
        background-color: #f59563;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="32"][b-ydt8i9l4ot] {
        background-color: #f67c5f;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="64"][b-ydt8i9l4ot] {
        background-color: #f65e3b;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="128"][b-ydt8i9l4ot] {
        background-color: #edcf72;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="256"][b-ydt8i9l4ot] {
        background-color: #edcc61;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="512"][b-ydt8i9l4ot] {
        background-color: #edc850;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="1024"][b-ydt8i9l4ot] {
        background-color: #edc53f;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile[data-value="2048"][b-ydt8i9l4ot] {
        background-color: #edc22e;
        color: #f9f6f2;
        transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    }

    .tile.move[data-value="2"][b-ydt8i9l4ot] {
        transition: transform 0.8s ease;
    }

        /* Плитка зі значенням 2 */
        .tile.move[data-value="2"].move-right[b-ydt8i9l4ot] {
            transform: translateX(30px);
        }

        .tile.move[data-value="2"].move-left[b-ydt8i9l4ot] {
            transform: translateX(-40px);
        }

        .tile.move[data-value="2"].move-up[b-ydt8i9l4ot] {
            transform: translateY(-40px);
        }

        .tile.move[data-value="2"].move-down[b-ydt8i9l4ot] {
            transform: translateY(40px);
        }

    /* Плитка зі значенням 4 */
    .tile.move[data-value="4"].move-right[b-ydt8i9l4ot] {
        transform: translateX(35px);
    }

    .tile.move[data-value="4"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-35px);
    }

    .tile.move[data-value="4"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-35px);
    }

    .tile.move[data-value="4"].move-down[b-ydt8i9l4ot] {
        transform: translateY(35px);
    }

    /* Плитка зі значенням 8 */
    .tile.move[data-value="8"].move-right[b-ydt8i9l4ot] {
        transform: translateX(40px);
    }

    .tile.move[data-value="8"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-30px);
    }

    .tile.move[data-value="8"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-30px);
    }

    .tile.move[data-value="8"].move-down[b-ydt8i9l4ot] {
        transform: translateY(30px);
    }

    /* Плитка зі значенням 16 */
    .tile.move[data-value="16"].move-right[b-ydt8i9l4ot] {
        transform: translateX(45px);
    }

    .tile.move[data-value="16"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-25px);
    }

    .tile.move[data-value="16"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-25px);
    }

    .tile.move[data-value="16"].move-down[b-ydt8i9l4ot] {
        transform: translateY(25px);
    }

    /* Плитка зі значенням 32 */
    .tile.move[data-value="32"].move-right[b-ydt8i9l4ot] {
        transform: translateX(50px);
    }

    .tile.move[data-value="32"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-20px);
    }

    .tile.move[data-value="32"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-20px);
    }

    .tile.move[data-value="32"].move-down[b-ydt8i9l4ot] {
        transform: translateY(20px);
    }

    /* Плитка зі значенням 64 */
    .tile.move[data-value="64"].move-right[b-ydt8i9l4ot] {
        transform: translateX(55px);
    }

    .tile.move[data-value="64"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-15px);
    }

    .tile.move[data-value="64"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-15px);
    }

    .tile.move[data-value="64"].move-down[b-ydt8i9l4ot] {
        transform: translateY(15px);
    }

    /* Плитка зі значенням 128 */
    .tile.move[data-value="128"].move-right[b-ydt8i9l4ot] {
        transform: translateX(60px);
    }

    .tile.move[data-value="128"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-10px);
    }

    .tile.move[data-value="128"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-10px);
    }

    .tile.move[data-value="128"].move-down[b-ydt8i9l4ot] {
        transform: translateY(10px);
    }

    /* Плитка зі значенням 256 */
    .tile.move[data-value="256"].move-right[b-ydt8i9l4ot] {
        transform: translateX(65px);
    }

    .tile.move[data-value="256"].move-left[b-ydt8i9l4ot] {
        transform: translateX(-5px);
    }

    .tile.move[data-value="256"].move-up[b-ydt8i9l4ot] {
        transform: translateY(-5px);
    }

    .tile.move[data-value="256"].move-down[b-ydt8i9l4ot] {
        transform: translateY(5px);
    }

    /* Плитка зі значенням 512 */
    .tile.move[data-value="512"].move-right[b-ydt8i9l4ot] {
        transform: translateX(70px);
    }

    .tile.move[data-value="512"].move-left[b-ydt8i9l4ot] {
        transform: translateX(0px);
    }

    .tile.move[data-value="512"].move-up[b-ydt8i9l4ot] {
        transform: translateY(0px);
    }

    .tile.move[data-value="512"].move-down[b-ydt8i9l4ot] {
        transform: translateY(0px);
    }

    /* Плитка зі значенням 1024 */
    .tile.move[data-value="1024"].move-right[b-ydt8i9l4ot] {
        transform: translateX(75px);
    }

    .tile.move[data-value="1024"].move-left[b-ydt8i9l4ot] {
        transform: translateX(5px);
    }

    .tile.move[data-value="1024"].move-up[b-ydt8i9l4ot] {
        transform: translateY(5px);
    }

    .tile.move[data-value="1024"].move-down[b-ydt8i9l4ot] {
        transform: translateY(-5px);
    }

    /* Плитка зі значенням 2048 */
    .tile.move[data-value="2048"].move-right[b-ydt8i9l4ot] {
        transform: translateX(80px);
    }

    .tile.move[data-value="2048"].move-left[b-ydt8i9l4ot] {
        transform: translateX(10px);
    }

    .tile.move[data-value="2048"].move-up[b-ydt8i9l4ot] {
        transform: translateY(10px);
    }

    .tile.move[data-value="2048"].move-down[b-ydt8i9l4ot] {
        transform: translateY(-10px);
    }
