@page
@model ігри.Pages.game_windows.window_game1Model
@{
}
<a a c asp-area="" asp-page="/game2" target="_blank"
   class="anime-card">
    <img src="https://th.bing.com/th?id=ODL.b74f1780654f8e7109a0cb498cb9b663&w=298&h=283&c=10&rs=1&qlt=99&o=6&cb=13&pid=13.1"
         alt="Камінь ножниці папір">
    <h3>Камінь, Ножниці, Папір</h3>
</a>