@page
@model ігри.Pages.game_windows.window_game1Model
@{
}
<a a c asp-area="" asp-page="/game1" target="_blank"
   class="anime-card">
    <img src="https://th.bing.com/th/id/OIP.c8xIlFZ3atuGcSZXcBxr3wHaHa?w=169&h=180&c=7&r=0&o=5&pid=1.7"
         alt="2048">
    <h3>2048</h3>
</a>