@page
@model ігри.Pages.game_windows.window_game1Model
@{
}
<a a c asp-area="" asp-page="/game3" target="_blank"
   class="anime-card">
    <img src="https://th.bing.com/th/id/OIP.wA1Vj6HKfKTcbxwWGR-0EgHaHK?w=181&h=180&c=7&r=0&o=5&pid=1.7"
         alt="Тік Так Тоу">
    <h3>Хрестики нулики</h3>
</a>