.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    width: 20%;
    background-color: #f8f8f8;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    justify-content: center;
}

h2 {
    justify-content: center;
    color: white;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

    .sidebar ul li {
        margin-bottom: 10px;
    }

        .sidebar ul li a {
            text-decoration: none;
            color: #333;
            font-size: 1.2em;
        }

.content2 {
    width: 75%;
    padding: 20px;
    background-color: #fff;
    justify-content: center;
}

    .content2 h2 {
        font-size: 2em;
        margin-bottom: 20px;
        justify-content: center;
    }

.anime-card {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;
}

    .anime-card img {
        width: 100%;
        height: auto;
    }

    .anime-card h3 {
        justify-content: center;
        margin-top: 10px;
        font-size: 1.2em;
    }
