<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ігри</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ігри.styles.css" asp-append-version="true" />
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(270deg, #c5a214, #F7CA18, #4A90E2, #5184be);
            background-size: 400% 400%;
            animation: gradientAnimation 15s ease infinite;
            color: #ECEFF1;
        }

        @@keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        .head {
            font-size: 3em;
            font-weight: bold;
            background: linear-gradient(270deg, #5184be, #4A90E2, #F7CA18, #c5a214);
            background-size: 300% 300%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradientAnimation 15s ease infinite;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            z-index: 1000;
            padding-bottom: 50px;
            justify-content: center;
        }

        header {
            padding: 20px;
            text-align: center;
        }

        .container {
            display: flex;
            min-width:1200px;
            height: auto;
            margin: 20px auto;
            width: 90%;
            max-width: 1400px;
            background-color: #2c2f33;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 100px;
        }

        .sidebar {
            width: 25%;
            padding: 20px;
            background-color: #36393f;
            border-radius: 10px;
            color: white;
        }

        .content {
            width: 100%;
            padding: 20px;
            background-color: #2c2f33;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .content2 {
            width: 75%;
            padding: 20px;
            background-color: #2c2f33;
            border-radius: 10px;
            color: white;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            align-self: center;
        }

        h2 {
            font-size: 1.8em;
            margin-bottom: 10px;
        }

        .anime-card {
            background-color: #36393f;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 32%;
            margin-right: 1%;
            color: white;
            position: relative;
            transition: transform 0.3s ease;
            overflow: hidden;
            justify-content: center;
        }

        .anime-card:hover {
            transform: scale(1.1);
        }

        .anime-card img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }

        .anime-card:hover img {
            transform: scale(1.1);
        }

        .anime-card h3 {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .anime-card p {
            margin-bottom: 0;
        }

        .button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #3e8e41;
        }

        .centered-heading {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #fff;
        }

        .sidebar h2 {
            color: #fff;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            color: #fff;
            text-decoration: none;
        }

        .sidebar a:hover {
            text-decoration: underline;
        }

        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 5px;
        }

        .rounded-button {
            background-color: #3498db;
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 25px;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        .rounded-button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        .rounded-button:active {
            background-color: #004080;
            transform: scale(0.95);
        }

        .hidden {
            display: none;
        }

        h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .buttons-container {
            display: flex;
            gap: 20px;
        }

        .auth-btn {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 120px;
            text-align: center;
        }

        .auth-btn:hover {
            background-color: #45a049;
        }

        @@media screen and (max-width: 600px) {
            .auth-btn {
                width: 100px;
                padding: 12px 16px;
            }
        }
    </style>
</head>
<body>
    <a asp-area="" asp-page="/Main_page" id="autoLink" target="_top"></a>
    <header>
        <h1 class="head">Грати та розважатись</h1>
    </header>
    <div class="container">
        <div class="sidebar">
            <h2>Навігація по сайту</h2>
            <div class="buttons-container">
                <a class="auth-btn" asp-page="/User_opportunities/Regist">Register</a>
                <a class="auth-btn" asp-page="/User_opportunities/Sign_in">Sign In</a>
            </div>
            <ul>
                <li><a asp-area="" asp-page="/Popular" id="Popular">Популярне</a></li>
                <li><a asp-area="" asp-page="/games" id="games">Ігри</a></li> 
                <li><a asp-area="" asp-page="/kwizes" id="kwizes">Квізи</a></li>
                <li><a asp-area="" asp-page="/Achievments" id="Achievments">Досягнення</a></li>
            </ul>
        </div>
        <div class="content2">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <script>
        function checkURL() {
            var currentURL = window.location.href; 
            if (currentURL === 'https://localhost:7080/') {
                document.getElementById('Popular').click();
            }
        }
        window.onload = checkURL;
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
